*.iml
target
/hse-root/.idea

/hse-root/web-ui/node_modules/
/hse-root/web-ui/.DS_Store
/hse-root/web-ui/dist/
/hse-root/web-ui/npm-debug.log*
/hse-root/web-ui/yarn-debug.log*
/hse-root/web-ui/yarn-error.log*

# Editor directories and files
/hse-root/web-ui/.idea
/hse-root/web-ui/.vscode
/hse-root/web-ui/*.suo
/hse-root/web-ui/*.ntvs*
/hse-root/web-ui/*.njsproj
/hse-root/web-ui/*.sln
/hse-root/web-ui/node
nbactions.xml
/hse-root/services/integration/alerts/serious-fall-alert/nbproject/
/hse-root/services/integration/connectors/ask-glonass/nbproject/
/hse-root/services/hse-common/hse-model-jpa/nbproject/
/hse-root/services/hse-common/database-configuration/nbactions.tmp
nbactions.tmp
nb-configuration.xml
/hse-root/services/hse-common/hse-common-tools/nbproject/
*.pid
/hse-root/services/integration/alerts/high-gas-concentration-alert/nbproject/
/hse-root/mobile/android/*.iml
/hse-root/mobile/android/.gradle
/hse-root/mobile/android/local.properties
/hse-root/mobile/android/.idea/libraries
/hse-root/mobile/android/.idea/modules.xml
/hse-root/mobile/android/.idea/workspace.xml
/hse-root/mobile/android/.DS_Store
/hse-root/mobile/android/build
/hse-root/mobile/android/captures
/hse-root/mobile/android/.externalNativeBuild


*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project

# Android Studio
.idea/
build/
/build/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
/local.properties
/.idea/workspace.xml
.DS_Store
/gradle.properties
location-tracker/
locationtracker/
projectFilesBackup/
output.json
*.log
.log

*.li
.li
